<div class="collection">
<h2>All Articles <%= link_to '+', new_collection_article_path(current_user.collections.find_by_slug('unsorted')) %></h2>
<ul>
  <% if @articles.flatten.count > 0 %>
    <% @articles.flatten.each do |a| %>
    <li><%= link_to a.title, "http://#{a.url}", :target => "_blank" %></li>
    <% end %>
  <% end %>
</ul>
</div>
