<div class="collection">
  <ul class ='group'>
    <h2>My Top Links <%= link_to '+', new_collection_article_path(current_user.collections.find_by_slug('unsorted')) %></h2>
    <ul>
      <% if @articles.flatten.count > 0 %>
        <% @articles.flatten.reject!{|f| f == ''}.each do |a| %>
        <li class='link'><%= link_to a.title, a.linkify, :target => "_blank" %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
