<% title "Collections" %>

<h2>My Top Links <%= link_to '+', new_collection_article_path(current_user.collections.find_by_name('Unsorted')) %></h2>

  <% if @articles.count > 0 %>
    <% @articles.each do |article| %>
      <h4><%= link_to article.title, article.linkify, :target => "_blank" %></h4>
      <%= link_to 'Read', collection_article_path(article.collections.first, article) %>    
      <h4>Collections: <% article.collections.each do |col| %>
      <%= link_to col.name, collection_path(col) %>
      <% end %></h4>
    <% end %>
  <% end %>