<ul>
<% @collection.articles.each do |article|  %>
  <% if !article.archived? %>
	   <li><%= link_to article.title, "http://#{article.url}" %>
      <%= button_to 'archive link', archive_path(current_user, @collection, article) %></li>
  <% end %>

	<% end %>
</ul>