<div class='inner-wrapper'>
<button onclick="goBack()">back </button>
<%= button_to 'archive', archive_path(@article.collections.first, @article) %></li>

<h1><%=@article.title%></h1>
<%= @article.read %>
</div>
