#sidebar{
  padding: 0 20px;
  color:white;
}
#sidebar ul{
  list-style-type: none;
  padding: 0;
}
#sidebar li{
  display: inline;
}

#sidebar a, #sidebar a:visited{
  text-decoration: none;
  color:grey;
  font-size: 1em;
}
#sidebar input {
  background-color: rgba(0,0,0,0);
  color:white;
  outline:none;
  border: none;
  display: inline;
}