<header>
  <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <a href="#" class="pure-menu-heading">Parascope</a>
    <ul id='controls'>
        <li class="pure-menu-selected"><%= link_to 'collections', collections_path %></li>
        <li><%= link_to 'archive', archived_path %></li>
      <li><%= link_to "profile", edit_user_registration_path%></li>
      <li><%= link_to 'x', destroy_user_session_path ,method: 'delete' %></li>
    </ul>

  </div>
    
<!--/.nav-collapse -->
</header>

